<div>
  <h1>Companies</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item1</th>
        <th>Item2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ItemA</td>
        <td>ItemB</td>
      </tr>
    </tbody>
  </table>
</div>
