<template>
    <div>
        <h1>Companies</h1>
        <h2>{{num3}}</h2>
        <v-data-table :headers="headers"
                    :items="items"
                    class="elevation-1">
            <template slot="items" scope="props">
                <td class="text-xs-right">{{ props.item.id}}</td>
                <td class="text-xs-right">{{ props.item.companyName }}</td>
                <td class="text-xs-right">{{ props.item.address1 }}</td>
                <td class="text-xs-right">{{ props.item.city }}</td>
                <td class="text-xs-right">{{ props.item.state }}</td>
                <td class="text-xs-right">{{ props.item.country }}</td>
                <td class="text-xs-right">{{ props.item.companyUrl }}</td>
            </template>
        </v-data-table>

    </div>
</template>

<script src="./companies.ts"></script>