<template>
    <div>
        <h1>Companies</h1>

        <p>A list of companies</p>

        <table v-if="companies.length" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="company in companies">
                    <td>{{ company.id }}</td>
                    <td>{{ company.name }}</td>
                </tr>
            </tbody>
        </table>

        <p v-else>
            <em>Loading...</em>
        </p>
    </div>
</template>

<script src="./companies.ts"></script>