<div id="app" class="wrapper skin-blue sidebar-mini">
    <header class="main-header">
        <a href="#" class="logo">
            <span class="logo-lg">
                <strong>ClassicCars.com</strong>
            </span>
            <span class="logo-mini">
                <strong>CC</strong>
            </span>
        </a>
        <nav class="navbar navbar-static-top" rule="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                    </li>
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                    </li>
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="control-sidebar">
                            <i class="fa fa-gears"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar" style="height: auto;">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img class="img-circle">
                </div>
                <div class="pull-left info">
                    <p>Dayton Harris</p>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu tree" data-widget="tree">
                <li class="header">MAIN NAVIGATION</li>
                <li v-for="route in routes">
                    <!-- TODO: highlight active link -->
                    <router-link :to="route.path">
                        <span :class="route.style"></span> {{ route.display }}
                    </router-link>
                <li>
                    <router-link to="/bar">
                        <i class="fa fa-user"></i>
                        <span>Users</span>
                    </router-link>
                </li>
                <li>
                    <router-link to="/foo">
                        <i class="fa fa-check"></i>
                        <span>Social Providers</span>
                    </router-link>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cogs"></i>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper">
        <router-view></router-view>
    </div>
    <footer class="main-footer">
        <p>&copy; @DateTime.Now.Year - ClassicCars.com</p>
    </footer>
</div>